@import "variables";

.navbar, .navbarAdmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacer-12;
    font-size: 14px;
    font-weight: 200;
    transition: all 0.3s ease;

    &__home {
        padding: $spacer-24 $spacer-48;
        background-color: $white;
        background: rgba($black, 0.1);
        backdrop-filter: blur(10px);


        a, p, h1, h2, h3, h4, h5, h6, ul, li, span {
            color: $white !important;
        }

        a:not(.productsPage__cardLink):not(.buttonPrimary):not(.buttonSecondary)::after, 
        .fakelink:not(.productsPage__cardLink):not(.buttonPrimary):not(.buttonSecondary)::after {
            background-color: $white !important;
        }
    }

    &__pages {
        margin: $spacer-24 $spacer-48;
        background-color: transparent;
        border-bottom: 1px solid $primary;
        padding-bottom: $spacer-24;
    }

    &Admin {
        margin: 0;
        padding: $spacer-4 $spacer-12;
        justify-content: flex-start;
        background-color: $primary;
        display: flex;
        align-items: center;
        gap: $spacer-8;
        
        a {
            color: $white !important;

            &::after {
                background-color: $white !important;
            }
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        translate: -50%;

        svg {
            width: 300px;
            height: $spacer-32;
        }
    }

    &__left, &__logo, &__right {
        display: flex;
        align-items: center;
    }

    &__profile {
        width: $spacer-24;
        height: $spacer-24;
    }

    &__left, &__right {
        gap: $spacer-24;
    }

    &__separator {
        height: 1px;
        background-color: $primary;
        margin: 0px 48px;
        border: 0;
    }
}