@import url(https://db.onlinewebfonts.com/c/1a3681e2cd615bd458b68dce439102a4?family=Untitled+Sans+Regular);

$black: #2d2d2d;
$white: #f6f6f6;
$primary: #AD4B1A;

$spacer-2: 2px;
$spacer-4: 4px;
$spacer-8: 8px;
$spacer-12: 12px;
$spacer-16: 16px;
$spacer-20: 20px;
$spacer-24: 24px;
$spacer-32: 32px;
$spacer-48: 48px;
$spacer-64: 64px;