@import url(https://db.onlinewebfonts.com/c/1a3681e2cd615bd458b68dce439102a4?family=Untitled+Sans+Regular);

$black: #2d2d2d;
$white: #EBF0EB;
$primary: #AD4B1A;

$spacer-2: 2px;
$spacer-4: 4px;
$spacer-8: 8px;
$spacer-12: 12px;
$spacer-16: 16px;
$spacer-20: 20px;
$spacer-24: 24px;
$spacer-32: 32px;
$spacer-48: 48px;
$spacer-64: 64px;

$border-radius-8: 8px;
$border-radius-4: 4px;

a, a:visited, p, h1, h2, h3, h4, h5, h6, ul, li, span, button {
    color: $primary;
    margin: 0;
    text-decoration: none;
    font-family: Untitled Sans Regular, Arial, sans-serif;
}

a, .fakelink {
    border: none;
    cursor: pointer;
    padding: $spacer-8 0;
    position: relative;
    transition: color 0.3s ease;
}

a:not(.productsPage__cardLink):not(.buttonPrimary):not(.buttonSecondary)::after, 
.fakelink:not(.productsPage__cardLink):not(.buttonPrimary):not(.buttonSecondary)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 5px;
    left: 0;
    background-color: #AD4B1A;
    transition: width 0.3s ease;
}

a:not(.productsPage__cardLink):not(.buttonPrimary):not(.buttonSecondary):hover::after,
a:not(.productsPage__cardLink):not(.buttonPrimary):not(.buttonSecondary):hover:not(.disabled)::after, 
.fakelink:not(.productsPage__cardLink):not(.buttonPrimary):not(.buttonSecondary):hover::after,
.fakelink:not(.productsPage__cardLink):not(.buttonPrimary):not(.buttonSecondary):hover:not(.disabled)::after {
    width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Untitled Sans Regular, Arial, sans-serif;
    background-color: $white;
    color: $primary;
    min-height: 100vh;
    // cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='11.5' fill='%23C3460A' stroke='white'/%3E%3C/svg%3E"), auto;
    line-height: 1.6;

    &:hover {
        // cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='9.2' fill='%23C3460A' stroke='white'/%3E%3C/svg%3E"), auto;
    }
}

.buttonPrimary, button.buttonPrimary {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid $primary;
    color: $primary;
    padding: $spacer-8 $spacer-16;
    font-size: 14px;
    font-weight: 400;
    border-radius: $spacer-64;
    transition: all 0.3s ease-in-out;
    text-align: center;

    &:hover, &.active {
        background-color: $primary;
        color: $white;
    }
}

.buttonSecondary, button.buttonSecondary {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid $white;
    color: $white;
    padding: $spacer-12 $spacer-32;
    font-size: 16px;
    border-radius: $spacer-64;
    transition: all 0.3s ease-in-out;
    text-align: center;

    &:hover, &.active {
        background-color: $white;
        color: $primary !important;
        border: 1px solid $primary;
    }
}